<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
		var host = '<%= host %>';
		
	</script>
</head>
<body>
<div class="container">
	<h2>Hi <%= user.fullname %> </h2>
	<!-- <h2>Hi <%= user.google.fullname %> </h2> -->
	<div> <img src="<%= user.profilePic %>"></div>
	<a href="/logout">logout</a>
	<input type="text" id="newTableName" name="">
	<div id="createTable">Create Table</div>
	<div class="tableListWrap">
		<ul class="tableList"></ul>
	</div>
	<script type="text/javascript" src="js/lobby.js"></script>
</div>
</body>
</html>